body,
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  /* font-family: "Helvetica Now Display", sans-serif; */
  font-family: "Helvetica Neue", sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/* @font-face {
  font-family: "Helvetica Now Display";
  src: url("./assets/fonts/HelveticaNowDisplay-Regular.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("./assets/fonts/HelveticaNowDisplay-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: medium;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("./assets/fonts/HelveticaNowDisplay-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Helvetica Now Display";
  src: url("./assets/fonts/HelveticaNowDisplay-Light.ttf") format("truetype");
  font-style: light;
  font-weight: 100;
} */
